body,
html {
	height: 100%;
}

* {
	color: white;
	background-color: black;
	font-family: 'Courier New', Courier, monospace;
	border-color: white;
	margin: 0;
	padding: 0;
}

.navbar {
	display: flex;
	padding-left: 0.8rem;
	padding-right: 0.2rem;
}

.navbar>a {
	margin: 0.2rem;
	text-decoration: none;
}

.navbar>a:hover {
	text-decoration: underline;
}

#navbar {
	border-bottom: 0.2rem solid white;
}

#navbar-inner {
	width: 100%;
	flex-direction: row;
	justify-content: end;
}

.main {
	padding: 1rem;
}

.center-div {
	display: flex;
	align-items: center;
	justify-content: center;
}