* {
	color: white;
	background-color: black;
	font-family: 'Courier New', Courier, monospace;
	border-color: white;
	margin: 0;
	padding: 0;
}

.navbar {
	display: flex;
	padding-left: 0.8rem;
}

.navbar>a {
	margin: 0.2rem;
	text-decoration: none;
}

.navbar>a:hover {
	text-decoration: underline;
}

#navbar {
	border-bottom: 0.2rem solid white;
}

#navbar-inner {
	justify-content: flex-end;
}

.main {
	padding: 1rem;
}