*{
	color: white;
	background-color: black;
	font-family: 'Courier New', Courier, monospace;
}

#navbar {
	display: flex;
	border-bottom: 2px;
} 

#navbar-inner {
	display: flex;
	justify-content: flex-end;
} 